@use '/src/styles/global' as c;

.font{
    font-weight: bold;
}

.parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}

.title{
    grid-column: 1 / span 2;
    background-color: c.$light-grey;
    border-radius: 15px;
    padding: 15px;
    align-self:  flex-start;
    text-align: center;
}

.order-list{
    border-top: 1px solid c.$violet-blue;
    grid-column: 1 / span 2;
}

.sign{
    color: white !important;
    position: relative;
    border-radius: 10px;
    background-color: c.$dark-grey;
    box-shadow: -2px 2px 20px 2px c.$pink;
    padding: 2rem;
    margin: 200px auto;
    
    &::before{
        content: '';
        position: absolute;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        z-index: -3;
        background-color: c.$violet-blue;
        bottom: -20px;
        left: -20px;
        transition: all 0.5s ease-in-out;
    }
    &::after{
        content: '';
        position: absolute;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        z-index: -2;
        background-color: c.$pink;
        bottom: -10px;
        left: -10px;
        transition: all 0.5s ease-in-out;


    }

}
@media (max-width:850px){
    .parent{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    .order-list, .title{
        grid-column: 1;
    }
    
}
