@use '/src/styles/font' as f;
@use '/src/styles/global' as c;
#main{
    background-color: c.$dark-grey;
    height: 140px;
    margin: 4rem 0;
    position: relative;
}
.line{
    width: 2px;
    height: 80%;
    background-color: c.$violet-blue;
}
.child>img{
    width: 50px;
}
.child>p{
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    width: 100%;
}