<div class="page">
    <div class="error">
        <br>
        <br>
        <h2>Oups, cette page n'est pas disponible !</h2>
        <p>Désolé, la page que vous recherchez n'existe pas. Soit il s'agit d'un ancien lien, soit cela a été modifié.</p>
        <p>Cliquez sur la maison pour retrouver votre chemin !</p><br>
        <div class="container">
            <a routerLink="/home"><img src="./assets/404/404.jpg" alt="question_mark" title="Back to homepage"></a>
        </div> 
    </div>
</div>
