.page{
    display: flex;
    flex-direction: column;
    height: 800px;
    padding: 2%;
}

.error{
    text-align: center;
    // color: linear-gradient(to bottom, rgb(227, 0, 154), rgb(138, 0, 190));
    color: rgb(138, 0, 190);
}

.container{
    width: 500px;
    height: 120px;
}

.container img {
    width: 100%;
    height: auto;
    border: 2px rgb(138, 0, 190) solid;
    border-radius: 15px 15px 15px 15px;
}

.button{
    text-align: center;
}