<div class="container-fluid d-flex justify-content-around align-items-center" id="main">
    <img class="pasha" src="/assets/banner/pashabiceps.png" alt="" srcset="">
    <div class="trust text-center p-3">
        <div class="starscontainer">
            <img class="stars" src="/assets/banner/fullstar.png">
            <img class="stars" src="/assets/banner/fullstar.png">
            <img class="stars" src="/assets/banner/fullstar.png">
            <img class="stars" src="/assets/banner/fullstar.png">
            <img class="stars" src="/assets/banner/fullstar.png">
        </div>
        <p class="texte"><strong>MIST</strong> est une plateforme incroyable pour acheter ses jeux tout en supportant les developpeurs. C'est rapide, paiement effectué avec Paypal, et code reçu immédiatement.</p>
    </div>
    
    
</div>