<div class="footer">
    <div class="top">

        <div class="contributors">
            <h3>Nous contacter</h3>
            <ul>
                <a href="https://github.com/Chrisdev10"> <img src="./assets/footer/git.png" alt="git" class="git" 
                    title="Chris'page"> </a> 
                    | <a href="mailto: delbeke.christophe@hotmail.com" title="Chris'mail">Christophe Delbeke</a><br>

                <a href="https://github.com/LionelD29"> <img src="./assets/footer/git.png" alt="git" class="git"
                    title="Lionel's page"> </a> 
                    | <a href="mailto: lionel.delsupexhe@gmail.com" title="Lionel's mail">Lionel Delsupexhe</a><br>

                <a href="https://github.com/ManonKerrels"> <img src="./assets/footer/git.png" alt="git" class="git"
                    title="Manon's page"> </a> 
                    | <a href="mailto: manon.kerrels@gmail.com" title="Manon's mail">Manon Kerrels</a><br>

                <a href="https://github.com/sbstnlambert"> <img src="./assets/footer/git.png" alt="git" class="git"
                    title="Seb's page"> </a> 
                    | <a href="mailto: sbstn.lambert@gmail.com" title="Seb's mail">Sébastien Lambert</a>
            </ul>
        </div>
        
        <div class="about">
            <h3>À propos</h3>
            <p>Ce travail a été réalisé durant le dernier mois de notre formation.<br>
            Passionnés par les jeux vidéos, il nous a semblé logique de créer une application en lien avec ceux-ci.<br>
            Passez un bon moment sur Mist© ! 🎮</p>
        </div>

        <div class="conditions">
            <h3>Conditions</h3>
            <p>Politique de confidentialité<br>
            Remerciements<br>
            Déclaration des cookies</p>
        </div>

        

    </div>

    <div class="bottom">
        <div class="copyright">
            <h5>Mist</h5>
            <p>Copyright © 2022 Mist - All rights reserved</p>
        </div>
        <div class="localisation">
            <p>Français | 🇪🇺</p>
        </div>
    </div>
    
    
</div>
