<div class="footer">
    <div class="top">

        <div class="contributors">
            <h3>Find us</h3>
            <ul>
                <a href="https://github.com/Chrisdev10"> <img src="./assets/footer/git.png" alt="git" class="git" 
                    title="Chris'page"> </a> 
                    | <a href="mailto: delbeke.christophe@hotmail.com" title="Chris'mail">Christophe Delbeke</a><br>

                <a href="https://github.com/LionelD29"> <img src="./assets/footer/git.png" alt="git" class="git"
                    title="Lionel's page"> </a> 
                    | <a href="mailto: lionel.delsupexhe@gmail.com" title="Lionel's mail">Lionel Delsupexhe</a><br>

                <a href="https://github.com/ManonKerrels"> <img src="./assets/footer/git.png" alt="git" class="git"
                    title="Manon's page"> </a> 
                    | <a href="mailto: manon.kerrels@gmail.com" title="Manon's mail">Manon Kerrels</a><br>

                <a href="https://github.com/sbstnlambert"> <img src="./assets/footer/git.png" alt="git" class="git"
                    title="Seb's page"> </a> 
                    | <a href="mailto: sbstn.lambert@gmail.com" title="Seb's mail">Sébastien Lambert</a>
            </ul>
        </div>
        
        <div class="about">
            <h3>About this project</h3>
            <p>This application was made during ths last month of our training.<br>
            Fascinated about video games, it was obvious for all of us to make an application about it.<br>
            Enjoy your stay on Mist© ! 🎮</p>
        </div>

        <div class="conditions">
            <h3>Conditions</h3>
            <p>Legal<br>
            Privacy<br>
            Our thanks<br>
            Cookie declaration</p>
        </div>

        

    </div>

    <div class="bottom">
        <div class="copyright">
            <h5>Mist</h5>
            <p>Copyright © 2022 Mist - All rights reserved</p>
        </div>
        <div class="localisation">
            <p>Français | 🇪🇺</p>
        </div>
    </div>
    
    
</div>
