
<nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid" id="parentItem">
        
        <div id="logo" class="title ms-3 ms-lg-0">
            <img src="/assets/logo.png" routerLink="/home" alt="App logo">
        </div>

        <button class="menu mb-3 mb-lg-0" id="menu-btn" type="button" (click)="openMenu()">
            <svg width="50" height="50" viewBox="0 0 100 100">
                <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                <path class="line line2" d="M 20,50 H 80" />
                <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
            </svg>
        </button>
        <div class="justify-content-end d-flex" id="navbarContent">
           
            <input style="background-color: #292929;color: aliceblue;" class="research mt-2 mt-md-0"
                type="search"
                placeholder="Rechercher..."
                aria-label="Search">
          
            <ul class="navbar-nav" id="listItem">
                <li class="nav-item">
                    <span class="nav-link ms-sm-3 ms-0 mt-2 mt-lg-0" (click)="onClick($event)">Accueil</span>
                </li>
                <li class="nav-item">
                    <span id="playlist" class="nav-link ms-sm-3 ms-0 mt-2 mt-lg-0" (click)="onClick($event)">Promotions</span>
                </li>
                <button *ngIf="!authService.getLocalStorageItem('isAuthenticated')"
                        (click)="onSignUp()"
                        class="sign-up ms-sm-3 ms-0 mt-2 mt-lg-0">
                    S'inscrire
                </button>
                <button id="connect" *ngIf="!authService.getLocalStorageItem('isAuthenticated')"
                        (click)="onSignIn()"
                        class="sign-in ms-sm-3 ms-0 mt-2 mt-lg-0">
                    Se connecter
                </button>
                <div *ngIf="authService.getLocalStorageItem('isAuthenticated')">
                    <select class="form-select ms-sm-3 ms-0 mt-5 mt-lg-0">
                        <option value="" disabled selected>{{ authService.getLocalStorageItem('username') }}</option>
                        <option value="sign-out" (click)="onSignOut()" 
                        
                       >Se déconnecter</option>
                    </select>
                </div>
            </ul>
        </div>
    </div>
</nav>
