@use '/src/styles/global' as c;
.title{
    text-align: center;
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
}
.wrapper{
    width: 500px;
    max-height: 600px;
    background-color: transparent;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,100px);
    row-gap: 4rem;
    justify-items: center;
    align-items: center;
    margin: 0 auto 150px;
}
.box{
    width: 300px;
    // height: 200px;
}

@media (min-width:1200px){
    .wrapper{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        width: 1200px;
    }
}

@media (min-width:600px) and (max-width:1200px){
    .wrapper{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,200px);
        width: 800px;
    }
}