.main-card{
    position: relative;
    width: 250px;
    height: 250px;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
    background-size: cover;
    justify-self: center;
    transition: all 0.1s ease-in-out;
    &:hover{
        transform: scale(1.07);
    }
}
.promo-icon{
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 30px;
    transform: translate(-3px,3px);
}
p{
    color: white;
    position: absolute;
    z-index: 100;
    text-align: center;
    line-height: 30px;
    margin-left: 3px;
}
.title{
    display: none;
    max-width: 240px;
    position: absolute;
    bottom:-22px;
    left:40%;
    transform: translateX(-50%);
}
.price{
    color: white;
    position: absolute;
    bottom: 0px;
    left:220px;
    transform: translateX(-50%);
    background-color: rgba(#333333, 0.5);
    border-radius: 5px;
    padding: 3px 5px;
}
#raw{
    left: 155px;
    text-decoration: line-through;
}
@media (max-width:800px){
    .price{
        left: 160px;
        bottom: 0;
        color: white;
    }
    .main-card{
        width: 200px;
        height: 200px;
    }
    .title{
        display: none;
    }
    #raw{
        left:120px;
        bottom: 30px;
    }
}

@media (max-width:500px){
    .main-card{
        width: 150px;
        height: 150px;
    }
    .price{
        left: 120px;
    }
    
}