<div class="details">
    <div class="left">
        <h3>Title : blablabla</h3>
        <p>toutoutotutotut</p>

        <h4>About the game</h4>
        <p>Petit résumé de chacun ? Si on a le courage...</p>
    </div>
    
    <div>
        <h4>Details</h4>
        <ul>
            <li>Image</li>
            <li>releaseDate</li>
            <li>genre / tags</li>
            <li>developer</li>
            <li>editor</li>
            <li>price</li>
            <li>stock -> if > 0</li>
            <li>promotion -> if > 0</li>
            <li>download</li>
        </ul>
        
        <h4>Configurations</h4>
        <p>Utile ou pas ?</p>
    </div>
    

    
</div>

<button> Buy now</button>

