.title{
    text-align: center;
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
}
.promo{
    // height: 600px;
    // border: 1px solid white;
    margin: 0 10%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
}

.center-card{
    margin: 0 auto;
}
@media (max-width:1500px){
    .promo{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width:1115px){
    .promo{
        grid-template-columns: repeat(2,1fr);
    }
}