@use '/src/styles/global' as c;
@use '/src/styles/font' as font;
.gamecard {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 200px;
    border-radius: 15px;    
  }

  .gamecard:hover .image {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    bottom: 8px;
  }
  
  .image {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 320px;
    height: auto;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }

  .title{
    position: absolute;
    z-index: 1000;
    color: white;
    font-family: font.$game-font;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    text-shadow:
      0 0 7px c.$violet-blue,
      0 0 10px c.$violet-blue,
      0 0 21px #fff,
      0 0 42px c.$violet-blue,
      0 0 82px c.$violet-blue,
      0 0 92px c.$violet-blue,
      0 0 102px c.$violet-blue,
      0 0 151px c.$violet-blue;
  }
  @media (max-width:600px){
    .image{
        width: 170px;
    }
    .gamecard{
        width: 160px;
        height: 110px;
    }
    .title{
      font-size: 1rem;
      padding: 0.5rem 0.5rem;
    }
    .gamecard:hover .image {
      transform: none;
      bottom: 0;
    }
}