@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:wght@300&family=Roboto:ital,wght@0,400;1,100&display=swap');
$game-font: 'Kdam Thmor Pro', sans-serif;
$soft-font: 'Bebas Neue', cursive;
$soft-font2:'Poppins', sans-serif;